body {
  background-color: #282a36;
  color: #bcc2cd;
}

nav {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
}

.jumbotron, .col-sm, .navbar  {
  background-color: #383a59;
}

.col-sm {
  padding: 10px;
  margin: 4px;
}


h1 {
  color: #bd93f9;
}

h5 {
  color: #ff5555;
}

a {
  color: #50fa7b;
}
a:hover {
  color: #237036;
}
