//variables
$color-background: #282a36;
$color-foreground: #bcc2cd;
$color-comment: #383a59;
$color-red: #ff5555;
$color-pink: #ff79c6;
$color-purple: #bd93f9;
$color-green: #50fa7b;
$padding-md: 10px;
$margin-md: 10px;
$margin-sm: 4px;

@media screen and (max-width: 600px) {
  div.jumbotron {
    display: none;
  }
}

//shared
%bg-shared {
  background-color: $color-comment;
}

%hover {
  color: $color-background;
  background-color: $color-purple;
}

//content
body {
  background-color: $color-background;
  color: $color-foreground;
}

.btn {
  color: $color-purple;
  border: 1px solid $color-purple;
}

.btn:hover {
  @extend %hover;
}

table {
  width: 100%;
  margin-bottom: 15px;
}

th, td {
  border-bottom: 1px solid $color-purple;
}

tr:hover {
  @extend %hover;
}

div img {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $margin-md;
}


.jumbotron {
  @extend %bg-shared;
}

.col-sm {
  @extend %bg-shared;
  padding: $padding-md;
  margin: $margin-sm;
}

h1, h2 {
  color: $color-purple;
}

a {
  color: $color-purple;
}

a:hover {
  @extend %hover;
}

.img-card {

  margin: $margin-sm;

  img {
    width: 100%;
    height: auto;
  }

  h5 {
    color: $color-foreground;
  }

  p {
    font-style: italic;
  }

}


nav {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
  a{
    border-radius: 4px
  }
  .nav-green {
    color: $color-background;
    background-color: $color-green;
    border-radius: 4px
  }
  .nav-green:hover {
    @extend %hover;
  }
}